@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.title--color_black {
  color: #212224;
}

.button {
  display: inline-block;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.button--size_lg {
  font-size: 1.125rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.button--size_sm {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.button--color_main-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#1f50e8), to(#5379f0));
  background: linear-gradient(90deg, #1f50e8 0%, #5379f0 100%);
  color: #ffffff;
}
.button--color_main-gradient:hover {
  border-color: #2454e9;
  background: #ffffff;
  color: #2454e9;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__content {
  color: #2454e9;
}
.logo__icon {
  margin-right: 12px;
}
.logo__text {
  display: block;
}
.logo__text-main {
  font-size: 14px;
  font-weight: 600;
}
.logo__text-add {
  font-size: 12px;
}

.header {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px -3px 10px 0px inset;
          box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px -3px 10px 0px inset;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.1) 2px -6px 6px);
          filter: drop-shadow(rgba(0, 0, 0, 0.1) 2px -6px 6px);
}
.header__logo .logo {
  padding-left: 20px;
  background-color: #ffffff;
  height: 68px;
  min-width: 270px;
  -webkit-clip-path: polygon(82.778% 33.838%, 82.778% 33.838%, 81.79% 27.663%, 80.726% 22.057%, 79.593% 17.041%, 78.397% 12.633%, 77.146% 8.851%, 75.846% 5.715%, 74.505% 3.243%, 73.129% 1.454%, 71.726% 0.367%, 70.301% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 98.576% 99.633%, 97.172% 98.546%, 95.797% 96.757%, 94.455% 94.285%, 93.156% 91.149%, 91.905% 87.367%, 90.709% 82.959%, 89.576% 77.943%, 88.511% 72.337%, 87.523% 66.162%, 82.778% 33.838%);
          clip-path: polygon(82.778% 33.838%, 82.778% 33.838%, 81.79% 27.663%, 80.726% 22.057%, 79.593% 17.041%, 78.397% 12.633%, 77.146% 8.851%, 75.846% 5.715%, 74.505% 3.243%, 73.129% 1.454%, 71.726% 0.367%, 70.301% 0, 0 0, 0 100%, 100% 100%, 100% 100%, 98.576% 99.633%, 97.172% 98.546%, 95.797% 96.757%, 94.455% 94.285%, 93.156% 91.149%, 91.905% 87.367%, 90.709% 82.959%, 89.576% 77.943%, 88.511% 72.337%, 87.523% 66.162%, 82.778% 33.838%);
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.4941176471);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
  }
  .header__nav.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 1;
  }
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  list-style: none;
}
@media screen and (max-width: 1024px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__nav-list-link {
  font-size: 16px;
  font-weight: 400;
  color: #212224;
}
.header__nav-list-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .header__nav-list-link {
    font-size: 24px;
  }
}
.header__burger {
  display: none;
  width: 30px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 35;
}
@media screen and (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}
.header__burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #2454e9;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header__burger span:nth-child(1) {
  top: 0px;
}
.header__burger span:nth-child(2), .header__burger span:nth-child(3) {
  top: 9px;
}
.header__burger span:nth-child(4) {
  bottom: 0px;
}
.header__burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header__burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.hero {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__title {
  font-size: 28px;
  font-weight: 700;
}
.hero_subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #212224;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  max-width: 1280px;
  width: 100%;
}