@import "variables-mixins/fonts";
@import "variables-mixins/media-queries";
@import "variables-mixins/variables";
@import "variables-mixins/util";
@import "global/text";
@import "global/button";
@import "global/logo";
@import "global/header";
@import "pages/main-landing/hero";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-style: normal;
	// <weight>: Use a value from 100 to 900
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

a {
	text-decoration: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	max-width: 1280px;
	width: 100%;
}

// .header-logo {
// 	width: 182px;
// 	height: 36px;
// }
